---
layout: default
---

<div class="home">

<p>
    SEAD stands for System of Electric Arts and Designers,
    musical circle founded in 1986, at Hosei University, Tokyo.
    EXSEAD consists of ex-SEAD members.
    Visit us at <a href="https://www.facebook.com/groups/487694724621361/">facebook group</a>.
</p>

{% include ga.html %}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
</div>
